*.DS_Store
*.o
*.s
*.bc
*.exe
*.opt.exe
*.opt.s
*.pyc
./src/tmp
*.input
*.output
*.pem
output/cluster.clusters
output/ncd.phylip
output/tree.newick
src/nohup.out
benchmark/IRs/*
output/dna_one_function/*
